@font-face {
    font-family: "Klaxons"; 
    src: url("../fonts/Klaxons.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
.conteiner{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Klaxons";
}
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.listStylereset{
    margin: 0;
    padding: 0;
    list-style: none;
}

input:focus{
    outline: 0;
}

body{
    font-size: 100%;
	line-height: 1;
	font-size: 24px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    background-color: #887d8a;
    /* font-family: "Klaxons"; */
}

::-webkit-scrollbar {
    width: 0;
  }

.all-box{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    
}

button{
    background: #b1d5fa;
    color: #f1f4f8;
    font-size: 20px;
    height: 50px;
    width: 120px;
    border-radius: 10px;
}

button:hover{
    background-color: #75a7da;
}

.addButton{
    background-color: #9eacc9;
    width: 50px;
    height: 40px;
}
.box{
    background-color: #6e6d7c;
    border-radius: 10px;
    display: block;
    color: #d2dbf7;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;

}

.todo, .in-progress, .done{
    display: flex;
    flex-direction: column;
    background-color: #6e6d7c;
    border-radius: 10px; 
    width: 500px;
    height: 600px;
    padding-top: 10px;
}
.add{
    display: flex;
}
.new-li{
    margin: 0 10px;
}
.to-do{
height:max-content;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;

}

li{
    margin-top: 10px;
    border-radius: 5px;
    width: auto;
    background-color: #9eacc9;
    color: #d2dbf7;
    word-wrap: break-word;
}

input{
    background-color: #9eacc9;
    width: 424px;
    border-radius: 5px;
    height:50px;
    color: #d2dbf7;  
    font-size: 30px;  
    word-wrap: break-word;
}